body {
    background-color: #111;
}

.appContent {
    background-color: #111;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.appContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.imageContainer {
    flex-basis: 50%;
    flex-grow: 0;
    margin: 5px;
}

.displayedImage {
    display: block;
    width: 100%;
    height: auto;
}

.horizontalSlider {
    margin-left: 10px;
    width: 100%
}

.hSliderContainer {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: flex-start;
}

.histogramContainer {
    flex-basis: 27%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    /* justify-content: space-between; */
}

.histogramPlots {
    flex-basis: 100%;
    flex-shrink: 0
}

.HistP {
    margin-top: 30px
}

.SliderLabel {
    margin-left: 20px
}

.generateNoiseButton {
    margin: 5px
}

body, p, h1, h2, h3, h4, h5, h6, button {
    color: #C0C0C0;
    margin-left: 10px
}

button {
    background-color: #222222;
}

button:hover {
    background-color: #3b3b3b;
}